<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>WebSockets!</title>
</head>

<body>
    <h1>Hello, WebSockets!</h1>

    <textarea id="display" rows="10" cols="50"></textarea>

    <p class="text-center">Server time: <span id="clock"></span></p>

    <input id="submit" type="button" value="Send">

    <script>

        //clock
        const clockSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/clock/'
        );

        clockSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            document.querySelector('#clock').innerHTML = (data.message);
        };

        //echo
        const echoSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/echo/'
        );

        echoSocket.onmessage = function(e) {
            textarea = document.querySelector('#display');
            textarea.value += (e.data + '\n');
            //scroll to end
            textarea.scrollTop = textarea.scrollHeight;
        };  
      
        echoSocket.onopen = function(){
            echoSocket.send("open conn");
        }

        echoSocket.onclose = function(){
            echoSocket.send("close conn");
        }

        document.querySelector('#submit').onclick = function(e) {
            echoSocket.send("hello!");      
        }


    </script>

</body>

</html>    